{
  "openapi": "3.1.0",
  "info": {
    "title": "Xquik Social API",
    "version": "1.0",
    "description": "Minimal social automation fixture for search and compose flows."
  },
  "servers": [
    {
      "url": "https://xquik.com"
    }
  ],
  "paths": {
    "/api/v1/x/tweets/search": {
      "get": {
        "operationId": "searchTweets",
        "summary": "Search public posts",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "open source ai"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results."
          }
        }
      }
    },
    "/api/v1/compose": {
      "post": {
        "operationId": "composePost",
        "summary": "Draft a post",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "topic"
                ],
                "properties": {
                  "topic": {
                    "type": "string",
                    "description": "Post topic or source material."
                  },
                  "tone": {
                    "type": "string",
                    "enum": [
                      "concise",
                      "technical",
                      "friendly"
                    ],
                    "default": "concise"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Drafted post."
          },
          "401": {
            "description": "Authentication required."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
